.body {font-family: "Raleway", sans-serif;background: #fff;.great-vibes-regular {
        font-family: "Great Vibes", cursive;
        font-weight: 400;
        font-style: normal;
    }  }
        .Our Portfolio{font-size: 36px;line-height: 1.11;text-align: center;letter-spacing: 0.02em;text-transform: capitalize;color: #2e2f42;}
  