
.body { font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;}
        
    .site-logo {color: #4d5ae5;
        font-family: "Raleway", sans-serif;
         font-weight: 700;font-size: 18px;
         line-height: 1.17;
         letter-spacing: 0.03em;
         text-transform: uppercase;}  
        .custom-button:hover,.custom-button:focus {
         background-color: #404BBF;}

        
    
    .main-section {background-color:#2e2f42;}
    .text_main {font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #ffffff;}
    
     
    
 