.body {font-family: "Raleway", sans-serif;background: #fff;.great-vibes-regular {
        font-family: "Great Vibes", cursive;
        font-weight: 400;
        font-style: normal;color: #434455;background-color:#FFFFFF;font-family: "Roboto", sans-serif;
    }  }
    .logo {font-family: "Raleway", sans-serif; font-weight: 700;font-size: 18px;line-height: 1.17;letter-spacing: 0.03em;text-transform: uppercase
    color: #4d5ae5;}  
    
        .Your Business {background-color:#2e2f42;font-size: 56px;line-height: 1.07;text-align: center;letter-spacing: 0.02em;color: #ffffff}
    
    
    
    
    
    
    
    .Our Portfolio {font-size: 36px;line-height: 1.11;text-align: center;letter-spacing: 0.02em;text-transform: capitalize;color: #2e2f42;}
  